
:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }

$shadow: .3rem .3rem .6rem var(--greyLight-2),
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white);


html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px    100% = 16px
    overflow-y: scroll;
    background: var(--greyLight-1);

    @media screen and (min-width: 900px) {
          font-size: 75%; }
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.maingrid {
    margin: 30px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 250px 1fr;
    grid-template-areas:
    "downpile uppile . clubcollector diamondcollector spadecollector heartcollector"
    "pile1 pile2 pile3 pile4 pile5 pile6 pile7"
}

.cardslot{
   width: 135px;
   height: 189px;
   margin: 10px;
   border-radius: 6px;
   position: relative;
   box-shadow:$inner-shadow
}


#downpile {
    grid-area: downpile;
}

#uppile {
    grid-area: uppile;
}

.collector{
    background-repeat: no-repeat;
}

#clubcollector {
    background-image: url(../assets/big-club-shadow.png);
    grid-area: clubcollector;
    background-size: 80%;
    background-position-x: 13px;
    background-position-y: 30px;
}

#diamondcollector{
    background-image: url(../assets/big-diamond-shadow.png);
    grid-area: diamondcollector;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: 23px;
    background-position-y: 30px;
}

#spadecollector{
    background-image: url(../assets/big-spade-shadow.png);
    grid-area: spadecollector;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 30px;
}

#heartcollector{
    background-image: url(../assets/big-heart-shadow.png);
    grid-area: heartcollector;
    background-size: 80%;

    background-position-x: 14px;
    background-position-y: 35px;
}

#pile1{
    grid-area: pile1;
}

#pile2{
    grid-area: pile2;
}

#pile3{
    grid-area: pile3;
}

#pile4{
    grid-area: pile4;
}

#pile5{
    grid-area: pile5;
}

#pile6{
    grid-area: pile6;
}

#pile7{
    grid-area: pile7;
}

.card{
    background-size: contain;
    width: 135px;
    height: 189px;
    position: relative;
    z-index: 100;
    margin-bottom: -189px;
    margin-right: -10px;
}

.pile > .card{
    margin: 0px 0px -150px;
}

.facedown{
    background-image: url(../assets/lite-card-back.svg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: $shadow;
}


#C10{
    background-image: url(../assets/10C.svg);
}

#D10{
    background-image: url(../assets/10D.svg);
}
